@import "./variables";

.btn,
.btn1 {
  padding: 10px 50px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-transform: none;
  letter-spacing: 0.5px;
  box-sizing: border-box; 
  min-width: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
}

.btn1 {
  background-color: transparent;
  border: 2px solid;
  overflow: hidden;
}

@each $name, $value in $colors {
  .btn-#{$name} {
    background-color: $value;
 
    &:hover,
    &:active {
      opacity: 1;
      transform: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: $value;
    }
  }
}

@each $name, $value in $colors {
  .btn1-#{$name} {
    background-color: transparent;
    border-color: $value;
    color: $value;

 
    &:hover,
    &:active {
      background-color: transparent;
      color: $value;
      transform: none;
      box-shadow: none;
    }
  }
}