#div1 {
  position: relative;
  border-radius: 25px;
  background-color: #f8fff8;
  padding: 20px;
  width: 300px;
  height: 150px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#div1 h4 {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.25px;
  vertical-align: middle;
  color: #222;
  margin-top: 40px;
}
.leaf-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.9;
}

.leaf1 {
  width: 40px;
  height: auto;
}

.leaf2 {
  width: 30px;
  height: auto;
  bottom: 18px;
  right: 40px;
  opacity: 0.7;
}
